/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.bpmpd-fields-loop-inner,
.bpmpd-fields-member-inner {
    margin: 10px 0;
    font-size: 14px;
}

.bpmpd-fields-loop span a,
.bpmpd-fields-member span a {
    display: inline-block;
}

body.bp-nouveau #buddypress.buddypress-wrap .bpmpd-fields-loop-inner a {
    margin: 0 !important;
    padding: 0 !important;
    background: none;
}

body.bp-nouveau #buddypress.buddypress-wrap .bpmpd-fields-loop-inner a:hover {
    background: none;
}