/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.bpmpd-fields-loop-inner,
.bpmpd-fields-member-inner {
    margin: 10px 0;
    font-size: 14px;
}

.bpmpd-fields-loop span a,
.bpmpd-fields-member span a {
    display: inline-block;
}