/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

@font-face {
    font-family: FontAwesome;
    src: url('../fonts/FontAwesome.otf');
}

 .bpmpd-setting-page .bpmpd-fields {
    -moz-columns: 4 auto;
    -webkit-column-count:4;
    column-count: 4;
}

.bpmpd-setting-page h1.bpmpd-page-title {
    padding: 1%;
    text-align: center;
}

.bpmpd-setting-page h4 {
    font-size: 1.2em;
    padding: 1%;
}

.bpmpd-setting-page h5 {
    font-size: 1.1em;
}

.bpmpd-setting-page .bpmpd-fields > li {
    font-size: 1.1em;
}


.bpmpd-setting-page {
    background: #fff none repeat scroll 0 0;
    padding: 2%;
}

.bpmmd-extra-actions {
    float: right;
}

#bpmmd_faq_accordion {
    margin: 20px;
}

#bpmmd_faq_accordion .ui-accordion-header span {
    margin-right: 10px;
}